body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: $gray-1;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.el-header {
    background-color: black;
    line-height: 60px;
}
.login-header {
    text-align: center;
}

.page-title {
    font-family: Dolce-Vita;
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.header-right {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    width: auto;
}

// Buttons
.el-button {
    border-radius: 10px !important;;

    &.el-button--warning {
        background-color: $orange !important;
        border-color: $orange !important;
        color: white !important;

        &:hover {
            background-color: lighten($orange, 10) !important;
            border-color: lighten($orange, 10) !important;
            color: white !important;
        }

        &:focus {
            background-color: lighten($orange, 10) !important;
            border-color: lighten($orange, 10) !important;
            color: white !important;
        }
    }

    &.el-button--primary {
        background: $indigo;
        border-color: $indigo;
        color: white;

        &:hover {
            background-color: lighten($indigo, 10);
            border-color: lighten($indigo, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($indigo, 10);
            border-color: lighten($indigo, 10);
            color: white;
        }
    }

    &.el-button--info {
        background: $gray_4;
        border-color: $gray_4;
        color: white;

        &:hover {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }
    }
    &.el-button--danger {
        background: $red;
        border-color: $red;
        color: white;

        &:hover {
            background-color: lighten($red, 5);
            border-color: lighten($red, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($red, 5);
            border-color: lighten($red, 5);
            color: white;
        }
    }
    &.el-button--success {
        background: $green;
        border-color: $green;
        color: white;

        &:hover {
            background-color: lighten($green, 5);
            border-color: lighten($green, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($green, 5);
            border-color: lighten($green, 5);
            color: white;
        }
    }
}
